@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  @apply h-screen w-screen flex items-center justify-center;
}

/* LOGIN */
.loginForm {
  @apply flex flex-col items-center justify-around w-screen max-w-xl min-w-fit
    h-5/6 rounded-xl border-2 border-black mx-2;
  min-height: 450px;
}

.loginTitle {
  @apply text-5xl;
}

.loginLabel {
  @apply w-3/4;
}

.loginInput {
  @apply h-16 w-full rounded-xl border-2 border-black pl-3;
}

.loginButton {
  @apply text-center h-16 w-3/4 rounded-xl border-2 border-black bg-black text-white text-2xl;
}

.loginRemember {
  @apply flex w-max items-center justify-between gap-2 h-6
}
/* LOGIN */

/* USERS */
.usersContainer {
  @apply h-full w-full flex flex-col items-center justify-around
}

.usersList {
  @apply flex flex-wrap h-2/3 w-4/5 mx-5 items-center justify-center gap-14;
  max-height: 450px;
  max-width: 1000px;
  overflow-y: scroll;
}

.userCard {
  @apply flex items-center justify-between h-52 rounded-2xl
    border-2 border-l-0 border-black shadow-md shadow-slate-700 bg-black;
  width: 450px;
  min-width: 450px;
}

.userInfo {
  @apply flex flex-col justify-around items-center h-full w-3/5 bg-white rounded-r-2xl
}

.userImg {
  @apply h-52 w-52 rounded-l-2xl;
}
/* USERS */
